$color-blue: #1f6694;
$color-blue-light: #0681fe;
$color-blue-lighter: #73c1e8;
$color-blue-3: #4862a3;
$color-orange: #f47c00;
$color-red: #ec5237;
$color-red-darker: #dc3545;
$color-white: #fff;
$color-grey: #f8f9fa;
$color-grey-darker: #e9ecef;
$color-dark: #303030;
$color-black: #000;
