.like-box {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
  background-color: $color-grey-darker;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  color: red;
  padding: 0.5rem 1rem;
  margin-left: 2rem;
  border-radius: 4px;
  cursor: pointer;

  &__icon {
    margin-right: 0.2rem;
  }

  &__error {
    display: none;
    padding: 1rem 1rem;
    background-color: $color-grey-darker;
    text-align: center;
    font-size: 12px;
  }
}
